#game-canvas {
  width: 100%;
  height: 100%;
  background-color: green;
  margin: 0;
  padding: 0;
}

:host {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  user-select: none;
}

.view-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.buttons {
  position: absolute;
  left: 50%;
  bottom: 80px;
}
