.hud-outer {
  width: 600px;
  height: 50px;
  border-radius: 85px;
  background-color: #555;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;

  font-weight: 600;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.health-bar {
  background-color: #ccc;
  height: 30px;
  width: 500px;
  margin: 0 auto;
  border: solid 1px #aaa;
}

.health-bar-green {
  background-color: #007f00;
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 30px;
  transition: width 500ms ease-in-out;
}

.health-bar-red {
  width: 100%;
  height: 100%;
  background-color: #cc0000;
  transition: width 1200ms ease-in-out;
}

.health-bar-text {
  position: relative;
  bottom: 55px;
  width: 100%;
  text-align: center;
}
