<div class="cols">
    <div class="rows">
      <div class="vis-area">
        <div *ngIf="VisualizationEnabled" class="vis-canvas-container">
          <span class="testname">{{CurrentTestName}}</span>
          <canvas *ngIf="VisualizationEnabled" class="vis-canvas" #gameCanvas>
            HTML5 Canvas is not supported by this browser, cannot use!
          </canvas>
        </div>
        <div *ngIf="!VisualizationEnabled">
          Visualization is disabled
          <span class="testname">{{CurrentTestName}}</span>
        </div>
      </div>
      <div class="results-area">
        <div
          *ngFor="let entry of getAllSuites()"
          class="input-row"
          [class.passed-tests]="entry.Result==='pass'"
          [class.pending-tests]="entry.Result==='pending'"
          [class.disabled-tests]="entry.Result==='disabled'"
          [class.failed-tests]="entry.Result==='fail'"
          (click)="runTest(entry)">
          <div class="spacer" *ngFor="let unused of ' '.repeat(entry.Indentation).split('')"></div>
          <span class="label">{{entry.Name}}</span>
          <div class="spacer" *ngIf="!!entry.Reason"></div>
          <span class="failure">{{entry.Reason}}</span>
        </div>
      </div>
    </div>
    <div class="side-menu" [class.disabled]="TestsRunning">
      <div class="menu-header">Settings</div>
      <div class="divider"></div>
      <div class="input-row" *ngIf="WebGL2Supported">
        <input type="checkbox" [(ngModel)]="VisualizationEnabled">
        <span class="label">Show Visualization</span>
      </div>
      <div class="input-row" *ngIf="VisualizationEnabled">
        <select [(ngModel)]="SpeedupRate">
          <option value="1">1x</option>
          <option value="2">2x</option>
          <option value="4">4x</option>
          <option value="8">8x</option>
          <option value="16">16x</option>
          <option value="100">100x</option>
        </select>
        <span class="label">Visualization speedup rate</span>
      </div>
      <div class="input-row" *ngIf="WebGL2Supported">
        <input type="checkbox" [(ngModel)]="EnableManualVerification">
        <span class="label">Run with manual verification steps</span>
      </div>
      <div class="start-button" (click)="runTests()">Start</div>
    </div>
  </div>
